doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // Bootstrap CSS
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
  title Bootstrap-Form!
include ./partials/header.pug

.container.p-5.m-5
  h2.display-6.text-center.m-2 Contact Form
  form(method='POST' action='/submitdata')
    .form-floating.mb-3
      input#floatingInput.form-control(type='text' placeholder='Name' name='name' required)
      label(for='floatingInput') Full Name
    .form-floating.mb-3
      input#floatingInput.form-control(type='email' placeholder='name@example.com' name='email' required)
      label(for='floatingInput') Email address
    .form-floating.mb-3
      input#floatingInput.form-control(type='number' placeholder='984472634' name='phnNumber' required)
      label(for='floatingInput') Contact Number
    .form-group.mb-3
      input.btn.btn-success(type='submit' value='Submit')
include ./partials/footer.pug
