head
  link(rel='stylesheet' href='static/styles/services.css')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.2/css/all.css')

include ./partials/header.pug
.services.pd.m-3
  .container.m-5
    h3.title Services
    .row.text-center
      .col-md-3
        .square
          i.fas.fa-code
        .serv
          h5 Clean Code
          p Lorem ipsum dolor sit amet consectetur adipisicing elit
      .col-md-3
        .serv
          .square
            i.fas.fa-cogs
          h5 Problem Solving
          p Lorem ipsum dolor sit amet consectetur adipisicing elit
      .col-md-3
        .square
          i.fas.fa-globe
        .serv
          h5 Best Domain
          p Lorem ipsum dolor sit amet consectetur adipisicing elit
      .col-md-3
        .square
          i.fas.fa-user-shield
        .serv
          h5 Secure Website
          p Lorem ipsum dolor sit amet consectetur adipisicing elit
include ./partials/footer.pug
