{{> navbar}}
<h2 class="text-center m-1 h1">Hello MVC</h2>

<div class="mt-4 p-5 bg-primary text-white rounded m-3">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p> 
  </div>

<div class="container-fluid">
    <div class="row g-0">
        <div class="col-3 bg-success">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.<br>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <div class="col-9 bg-warning">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row g-0">
        <div class="col bg-success">Lorem ipsum dolor sit amet, cibo sensibus interesset no sit. Et dolor possim
            volutpat qui. No malis tollit iriure eam, et vel tale zril blandit, rebum vidisse nostrum qui eu. No nostrud
            dolorem legendos mea, ea eum mucius oporteat platonem.Eam an case scribentur, ei clita causae cum, alia
            debet eu vel.</div>
        <div class="col bg-warning">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum suscipit velit, quas numquam sed pariatur harum dolor amet. Deserunt non consequuntur unde accusamus alias cum ab necessitatibus nesciunt. Architecto, tenetur?</div>
        <div class="col bg-success">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis maiores magnam aut quia ea assumenda odio illum sit dolorem rerum. Assumenda magni pariatur rerum eum velit atque commodi iusto cupiditate.</div>
    </div>
</div>

{{> footer}}