{{> nonauthorizedUserNavbar}}

<div class="container my-5">
   <div class="card m-3 w-50 m-auto p-4" style="width:100%">
  <div style="background-color: #d1e0e0;">
    <div class="card-body">
    <h6 class="card-title display-6">Pizza Delivery</h6>
    <blockquote class="blockquote">
    <small class="card-text ">Welcome to pizza delivery service. This is the place when you may choose the most delicious pizza you like from wide variety of options!</small>
    </blockquote>
    <hr>
    <p class="" style=" display: inline-block;"><small>We're performing delivery free of charge in case if your order is higher than 300₹</small></p>
    <a href="/login" class="btn btn-primary w-100 btn-dark mb-3">Sign In and Order</a>
  </div>
  </div>
</div>
</div>